# **TAREA CLASE 3**

Para la tarea de la clase tres vamos a crear un homebanking resumido. Para ello vamos a seguir los siguientes pasos: 

* Creamos las variables basicas
* Armamos una tupla para los datos nombre,apellido y DNI
* Creamos una variable para el saldo de cuenta
* Creamos una lista de productos del cliente
* Imprimimos la salida con los datos del cliente y su saldo
* definimos gastos bancarios
* realizamos una resta al saldo inicial de los gastos y originamos la variable saldo final
* Imprimimos el saldo final 
* creamos una variable verdadera o falsa para la aptitud de credito

In [45]:
client_name = "Federico"                        # NOMBRE
client_surname = "Tavarone"                     # APELLIDO
client_mail = "Federicotavarone_95@hotmail.com" # MAIL
client_dni = "38407204"                         #DNI

En el paso anterior hemos declarado las variables y les hemos asignado un valor, en este caso texto

In [46]:
client_dates = (client_name, client_surname, client_dni)

En este caso creamos una tupla ya que estos valores no seran modificados

In [47]:
client_balance = 10000 #SALDO

In [48]:
client_cards = 2 #TARJETAS

In [49]:
client_products = ["caja de ahorro",
                   "cuenta corriente",
                   "tarjeta credito", 
                   "tarjeta debito", 
                   "plazo fijo",
                   "cuenta comitente"]         #LISTA PRODUCTOS

En este caso los datos si pueden modificarse por lo que creamos una lista

In [50]:
print (client_name, client_surname, client_dni)

Federico Tavarone 38407204

In [51]:
print ("saldo incial: $"+ str (client_balance))

saldo incial: $10000

Aqui concatenamos un texto con el saldo inicial

In [52]:
banking_expenses = 2500   #GASTOS BANCARIOS

In [53]:
client_balance - banking_expenses

7500

In [54]:
client_finbalance = client_balance - banking_expenses #SALDO FINAL

Creamos una nueva variable a partir de la diferencia de las dos variables anteriores

In [55]:
print ("se realizo un gasto por " + str (banking_expenses))

se realizo un gasto por 2500

In [56]:
print ("su saldo actual es " + str (client_finbalance))

su saldo actual es 7500

In [57]:
loan_qualification = client_finbalance > 5000 #APTITUD PARA PRESTAMO

Creamos una variable tipo boleana que tendra solo dos resultados, verdadero o falso , para definir aptitud del credito

In [58]:
print (loan_qualification)

True